<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    1.mybatis可以使用properties来引入外部properties文件的地址
            2. resource引入类路径下的资源
            3. url 引入网络数据资源
    -->
    <!--    设置项-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
<!--            调整分页合理性,超出总页数只查最后一页 或者页数小于1时只查询第一页-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
    <!--    databaseIDProvider:支持多数据库厂商的
            type="DB_VENDOR":VendorDatabaseIdProvider
            作用是得到数据库厂商的标识(驱动getDatabaseProductName())
            MySql,Oracle,Sql Server
    -->
    <!--    给数据库厂商标识起别名-->
    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
        <property name="SQL Server" value="sqlServer"/>
    </databaseIdProvider>
</configuration>